<!DOCTYPE html>
<html lang="en">
<head>
    {% block head %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mr.X的博客--一个专业的、畅所欲言的平台</title>
    <link rel="icon" href="/static/images/Logo_Mr.X.ico">
    <link rel="stylesheet" href="/static/css/bootstrap.css">
    <script src="/static/js/bootstrap.js"></script>
    {% endblock %}
</head>
<body>
{% block contents %}
{% endblock %}

<footer>
    <a href="https://github.com/GitHubXiaZhengYang/MyWeb"><img src="static/images/Logo_Mr.X.ico" alt="Logo" class="logo" title="Mr.X"></a>
    <small>&copy; 2024 Mr.X</small>
</footer>
</body>
</html>